#sec0{   
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    border: 10px solid rgb(53, 179, 218);
  border-radius: 8px;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: rgb(255, 255, 255);
}
#objective {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace ; 
    background-color:rgb(53, 179, 218);
    margin-right: 1px;
    margin-left: px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}
#name{
    font-family: Roboto;
	font-weight: 100;
	font-size: 30px;
	text-shadow: 5px 5px 10px black;
}
#mail{
    font-family: Nunito;
	font-size: 25px;
	letter-spacing: 3px;
	word-spacing: 5px;
	margin: 10px 0 20px 0;
	text-shadow: 5px 5px 10px black;
}
p{
    font-size: 20px;
	font-family: Nunito;
	color: #999;
}